<h1><%= @division.title() %></h1>

<h3>Select all employees applicable to this division:</h3>

<% if @employees.any?() %>
  <form action="/divisions/<%= @division.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @employees.each() do |employee| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="employee_ids[]" value="<%= employee.id() %>"><%= employee.name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add employees</button>
  </form>
<% end %>


<% if @division.employees().any?() %>
  <h3>Here are all the divisions associated with this employee:</h3>

  <ul>
    <% @division.employees().each() do |employee| %>
      <li><%= employee.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no employees yet!</p>
<% end %>


<a href="/">Return to Main Page</a>
